[Unit]
Description=One time configuration for iscsid.service
ConditionPathExists=!/etc/iscsi/initiatorname.iscsi
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=@SBINDIR@/iscsi-gen-initiatorname
