[Unit]
Description=One time configuration for iscsid.service
ConditionPathExists=!/etc/iscsi/initiatorname.iscsi
DefaultDependencies=no
After=root.mount

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/iscsi-gen-initiatorname
